section.services
  .container
    h2.g-section-title(class='  services__title  g-section-title--white')
      | Услуги
    ul.services__list
      li.services__item(class=' services__item--organization')
        span.services__item-title Организация
        p.services__item-text
          | У нас не было, нет и никогда не будет готовых предложений с набором опций.
          b  Свадьба – это маленькая жизнь со своей историей и душой.
      li.services__item(class=' services__item--mc')
        span.services__item-title Ведущий
        p.services__item-text
          | В нашей команде
          b  более 30 ведущих
          |  разделяющих наше видение на свадебное торжество.
      li.services__item(class=' services__item--photographer  services__item--center')
        span.services__item-title Фотограф/Видеооператор
        p.services__item-text
          | В нашей медиа&#8209;команде
          b  более 20 специалистов,
          |  проверенных нами.
      li.services__item(class=' services__item--decoration  services__item--center')
        span.services__item-title Декор
        p.services__item-text
          | Команда декораторов нашей службы торжеств поможет Вам выбрать
          b  стиль и цветовое решение
          |  Вашей свадьбы.
      li.services__item(class=' services__item--banquet  services__item--center')
        span.services__item-title Банкет
        p.services__item-text
          | Наша банкетная служба удовлетворит
          b  любые вкусовые предпочтения
          |  даже самого изысканного гурмана
      li.services__item(class=' services__item--registration')
        span.services__item-title Выездная регистрация
        p.services__item-text
          | Выслушав
          b  Ваши пожелания, предпочтения и мечту
          |  &#8212; как должна пройти эта красивая история, мы поможем ее осуществить.
      li.services__item(class=' services__item--artists')
        span.services__item-title Артисты
        p.services__item-text
          | Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением,
          b  поставить &#171;вишенку на торт&#187; в завершении вечера.
