section.top-banner
  .container
    h2.top-banner__title(class=' visually-hidden')
      | кто мы?
    p.top-banner__text
      | Наш 10 летний опыт организации свадебных торжеств
      | Поможет Вам сэкономить до 15% от свадебного бюджета
      | И около 3-х месяцев, самостоятельной подготовки.

