.top-banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 650px;
  padding: 55px 0;

  background-image: url("../img/top-banner.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-banner .container {
  display: flex;
  justify-content: center;
}

.top-banner__text {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 85%;
  margin: 0;
  margin-top: auto;

  text-align: center;
  font-family: $title-font;
  font-size: 36px;
  color: $font-color--alt;

}
