section.top-banner
  h2.visually-hidden
    p.top-banner__text
      | Криптекс использует вычислительную мощность компьютера
      b и платит за это биткоины и рубли
    a.top-banner__btn(class=' btn  btn--download')
