@font-face {
  font-weight: 400;
  font-family: "PTSans", Arial, sans-serif;
  font-style: normal;

  src: url("fonts/ptsans.woff2") format(woff2),
    url("fonts/ptsans.woff") format(woff);
}

@font-face {
  font-weight: 400;
  font-family: "PTSansItalic", Arial, sans-serif;
  font-style: normal;

  src: url("fonts/ptsansitalic.woff") format(woff);
}

@font-face {
  font-weight: 700;
  font-family: "PTSansBold", Arial, sans-serif;
  font-style: normal;

  src: url("fonts/ptsansbold.woff2") format(woff2),
    url("fonts/ptsansbold.woff") format(woff);
}

@font-face {
  font-weight: 400;
  font-family: "Kurale", Arial, sans-serif;
  font-style: normal;

  src: url("kuraleregular/ptsansbold.woff2") format(woff2),
    url("kuraleregular/ptsansbold.woff") format(woff);
}
